
.container {
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 50rem;
    display: flex;

}

.btn {
    --bs-btn-padding-y: .15rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: .7rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    padding-top: 0.05rem;
    font-size: var(--bs-btn-font-size);
    border-radius: .25rem;
    padding-bottom: 0.05rem;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff !important;
}

.btn-secondary:hover {
    background-color: #565e64;

}

.a {
    color: rgb(13, 110, 253);
}

.a:hover {
    color: #0a58ca;
}

.card {
}

.card-body {
}

.row {
    display: flex;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.small-text {
    font-size: small;
}

.rounded-pill {
    border-radius: var(--bs-badge-border-radius) !important;
}

.badge {
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.pill-tag {
    background-color: #ddd;
    border: none;
    color: white;
    padding: 0 8px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border-radius: 20px;
    margin: 0 2px;
    font-size: 0.85em; /* Reduce font size instead of scaling */
}

.pill_color_acyclic { background-color: #9B9A97; }
.pill_color_bipartite { background-color: #64473A; }
.pill_color_Bipartite { background-color: #64473A; }
.pill_color_bundled_edges_generated { background-color: #D9730D; }
.pill_color_categorical_nodes { background-color: #DFAB01; }
.pill_color_clusters { background-color: #0F7B6C; }
.pill_color_clusters_generated { background-color: #0B6E99; }
.pill_color_dense { background-color: #6940A5; }
.pill_color_directed_edges { background-color: #AD1A72; }
.pill_color_dynamic { background-color: #E03E3E; }
.pill_color_dynamic_discrete { background-color: #9B9A97; }
.pill_color_edge_weighted { background-color: #64473A; }
.pill_color_generic { background-color: #D9730D; }
.pill_color_hierarchical { background-color: #DFAB01; }
.pill_color_Hierarchical { background-color: #DFAB01; }
.pill_color_hypergraph { background-color: #0F7B6C; }
.pill_color_known_crossing_number { background-color: #0B6E99; }
.pill_color_labeled_nodes { background-color: #6940A5; }
.pill_color_large { background-color: #AD1A72; }
.pill_color_layered_graphs { background-color: #E03E3E; }
.pill_color_many_layers { background-color: #9B9A97; }
.pill_color_N-layers { background-color: #9B9A97; }
.pill_color_mesh { background-color: #64473A; }
.pill_color_multigraph { background-color: #D9730D; }
.pill_color_node_weighted { background-color: #DFAB01; }
.pill_color_nonplanar { background-color: #0F7B6C; }
.pill_color_partition { background-color: #0B6E99; }
.pill_color_planar { background-color: #6940A5; }
.pill_color_signed { background-color: #AD1A72; }
.pill_color_sparse { background-color: #E03E3E; }
.pill_color_spatial { background-color: #9B9A97; }
.pill_color_temporal { background-color: #64473A; }
.pill_color_temporal_event_sequence { background-color: #D9730D; }
.pill_color_tree-like { background-color: #DFAB01; }
.pill_color_trees { background-color: #0F7B6C; }
.pill_color_Trees { background-color: #0F7B6C; }